<app-navbar></app-navbar>
<!-- <app-sidebar></app-sidebar> -->
<div class="content-wrapper">

    <button (click)="exportarPdf()" class="btn btn-primary">Exportar</button>

    <div #printcontainer id="printcontainer" style="margin:3em;">

        <div style="margin:3em;">
            <div style="text-align: center;">
                <br />
                <br />
                Autorización para solicitar Reportes de Crédito
                <br />
                Personas Físicas / Personas Morales
                <br />
                Empresas Comerciales / Entidades Financieras

                <br />
                <br />
            </div>
            <div style="text-align: justify;">
                <p>
                    Por este conducto autorizo expresamente a XXXXX para que por conducto de sus funcionarios
                    facultados lleve a cabo investigaciones, sobre mi comportamiento crediticio o el de la empresa
                    que represento en Trans Union de México S.A SIC y/o Dun & Bradstreet, S.A. SIC
                </p>
                <p>
                    Así mismo, declaro que conozco la naturaleza y alcance de la información que se solicitará, del uso
                    XXXXX
                    hará de tal información y de que ésta podrá realizar consultas periódicas sobre mi historial o el de
                    la
                    empresa que represento, consintiendo que esta autorización se encuentre vigente por un periodo de 3
                    años
                    contados apartir de su expedición y en todo caso durante el tiempo que se mantenga la relación
                    jurídica.
                </p>
                <p>
                    En caso de que tla solicitante sea una Persona Moral, declaro bajo protesta de decir la verdad
                    Ser Representante Legal de la empresa mencionada en esta autorización; manifestando que a la fecha
                    de
                    firma de la presente autorización lso poderes no ma han sido recovados, limitados ni modificados
                    en forma alguna.
                </p>
                <p>
                    Autorización para:
                </p>
                <p>
                    <b>Persona Física (PF) _______ Persona Física con Actividad Empresarial (PFAE)_____ Persona
                        Moral(PM)_____ </b>

                </p>

                <p>
                    Nombre del solicitante (Persona Física o Razón Social de la Persona Moral):<br />
                    ______________________________________________________________
                </p>
                <p>
                    Para el caso de Persona Moral, nombre del Representante Legal:<br />
                    ______________________________________________________________
                </p>
                <p>
                    RFC: ______________________________________________________________
                </p>
                <p>
                    Domicilio: _____________________________________________________
                </p>
                <p>
                    Colonia: ______________________________________________________________
                </p>
                <p>
                    Municipio: ______________ Estado: _________________ Código postal: _________________
                </p>
                <p>
                    Teléfono(s): ____________________________________________
                </p>
                <p>
                    Fecha en que se firma la autorización:_______________________________
                </p>

                <p>
                    Estoy de acuerdo y acepto que este documento quede bajo propiedad de Espacio Ideal Servicios S.A de
                    C.V.
                    y/o Sociedad de Información Crediticia consultada para efectos de control y cumplimiento del
                    artículo 28 de
                    la Ley para Regular a Las Sociedades de Información Crediticia; mismo que señala que las Sociedades
                    sólo podrán proporcionar información a un Usuario, cuando
                    éste cuente con la autorización expresa del Cliente mediante su firma autógrafa.
                </p>
                <p style="text-align: center;">
                    _____________________________________________________<br /><br />
                    Firma de PF, PFAE, Representante Legal de la empresa

                </p>

                <div style="border:black solid 1px; background-color:darkgrey;">
                    <p>
                        <b>Para uso exclusivo de la Empresa que efectúa la consulta XXXXX</b><br />
                        Fecha de Consulta BC:_______________________<br />
                        Folio de Conlusta BC:_______________________<br />
                    </p>

                </div>
                <br />
                <p>
                    <b><i>IMPORTANTE:</i></b> Este formato debe ser llenado individualmente, para una sola persona
                    física ó
                    para
                    una sola empresa.
                    En caso de requerir el Historial crediticio del representante legal, favor de llenar un formato
                    adicional.

                </p>




            </div>
        </div>




    </div>


</div>