<div class="content-wrapper" style="min-height: 1365.62px;">
    <div style="margin-left: 0.2in;">
        <p>Valor de la vivienda:</p>
        <br>
        <p>Mts de excedente:</p>
        <p></p>
        <P align="center" style="margin-bottom: 0in"><img src="src/assets/img/molinoDeAgua.jpg" name="logo" width=231 height=128></P>
        <p align="center" >SOLICITUD DE APARTADO / COMPRA</p>
        </div>
        <div><table align="center">
              <tr>
                <td><div style="width:50px;height:15px;border:1px solid #000;"></div></td>
                <td>RONDA</td>
                <td><div style="width:50px;height:15px;border:1px solid #000;"></div></td>
                <td>OLVERA</td>
                <td><div style="width:50px;height:15px;border:1px solid #000;"></div></td>
                <td>SANTILLANA</td>
                <td><div style="width:50px;height:15px;border:1px solid #000;"></div></td>
              </tr>
              <tr>
                <td>ALICANTE</td>
                <td><div style="width:50px;height:15px;border:1px solid #000;"></div></td>
                <td>LERIDA</td>
                <td><div style="width:50px;height:15px;border:1px solid #000;"></div></td>
              </tr>
        </table>
        </div>
        <br>
        <div>
            <p align="center">MANZANA: ______    LOTE:_______    ETAPA:_______     FASE:_______    FECHA DE ENTREGA:___________</p>
        </div>
        <br>

        <p align="center" style="margin-left: 0.2in; margin-bottom: 0in; border: 1px solid #000000; padding: 0.01in 0.06in">
            <font color="#000080">I.SOLICITANTE</font>
        </p>
        <br>


        <div class="col-lg" >
            <div class="row">
                <div class="form-group col-md-3">
                    <label>Nombre</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.nombres}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-2">
                    <label>Apellido Paterno</label>
                    <input disabled value="{{datos_cliente.apellido_paterno}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-2">
                    <label>Apellido Materno</label>
                    <input disabled value="{{datos_cliente.apellido_materno}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-2">
                    <label>RFC</label>
                    <input disabled value="{{datos_cliente.rfc}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-4">
                    <label>Calle</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.direccion}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md">
                    <label>No. Interior</label>
                    <input disabled value="{{datos_cliente.numero_interior}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md">
                    <label>No. Exterior</label>
                    <input disabled value="{{datos_cliente.numero_exterior}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-4">
                    <label>Colonia</label>
                    <input disabled value="{{datos_cliente.colonia}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md">
                    <label>C.P</label>
                    <input disabled value="{{datos_cliente.codigo_postal}}" type="text" class="form-control" placeholder="" minlength="5" autocomplete="off" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');">
                </div>
                <div class="form-group col-md-2">
                    <label>Teléfono Casa</label>
                    <input disabled value="{{datos_cliente.telefono_casa}}" type="text" class="form-control" placeholder="" minlength="10" maxlength="10" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                </div>
                <div class="form-group col-md-2">
                    <label>Teléfono Celular</label>
                    <input disabled value="{{datos_cliente.telefono_personal}}" type="text" class="form-control" placeholder="" minlength="10" maxlength="10" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                </div>
                <div class="form-group col-md-2">
                    <label>Teléfono Oficina</label>
                    <input disabled value="{{datos_cliente.telefono_oficina}}" type="text" class="form-control" placeholder="" minlength="10" maxlength="10" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                </div>

                <div class="form-group col-md-2">
                    <label>Vive en</label>
                    <input disabled value="{{datos_cliente.vive_en}}" type="text" class="form-control" placeholder="10 Dígitos" minlength="10" maxlength="10" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                </div>

                <div class="form-group col-md-3">
                    <label>Tiempo de Residencia</label>
                    <input disabled value="{{datos_cliente.tiempo_residencia}}" type="text" class="form-control"  oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                </div>
                <div class="form-group col-md-3">
                    <label># de Dependientes Económicos</label>
                    <input disabled value="{{datos_cliente.numero_dependientes}}" type="text" class="form-control"  oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                </div>
                <div class="form-group col-md-3">
                    <label>Correo</label>
                    <input disabled value="{{datos_cliente.correo}}" type="text" class="form-control"  oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                </div>
                <div class="form-group col-md-2">
                    <label>Estado</label>
                    <input disabled value="{{datos_cliente.nombre_estado_cliente}}" type="text" class="form-control"  oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                </div>
                <div class="form-group col-md-2">
                    <label>Ciudad</label>
                    <input disabled value="{{datos_cliente.nombre_ciudad_cliente}}" type="text" class="form-control"  oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                </div>
                <div class="form-group col-md-2">
                    <label>Estado Civil</label>
                    <input disabled value="{{datos_cliente.estado_civil}}" type="text" class="form-control"  oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                </div>
                <div class="form-group col-md-1">
                    <label>Peso</label>
                    <input disabled value="{{datos_cliente.peso}}" type="text" class="form-control"  oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                </div>
                <div class="form-group col-md-1">
                    <label>Estatura</label>
                    <input disabled value="{{datos_cliente.estatura}}" type="text" class="form-control"  oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                </div>

                <div class="form-group col-md-2">
                    <label>Fecha Nacimiento</label>
                    <input disabled value="{{datos_cliente.fecha_nacimiento}}" type="text" class="form-control" placeholder="">
                </div>
                <div class="form-group col-md-2">
                    <label>Régimen Matrimonial</label>
                    <input disabled width="100%" value="{{datos_cliente.regimen_matrimonial}}" type="text" class="form-control" placeholder="">
                </div>

                <div class="form-group col-md-2">
                    <label>Fecha Matrimonio</label>
                    <input disabled value="{{datos_cliente.fecha_matrimonio}}" type="text" class="form-control" placeholder="">
                </div>
                <div class="form-group col-md-2">
                    <label>Escolaridad</label>
                    <input disabled value="{{datos_cliente.escolaridad}}" type="text" class="form-control" placeholder="">
                </div>
                <div class="form-group col-md-1">
                    <label>Edad</label>
                    <input disabled value="{{datos_cliente.edad}}" type="text" class="form-control" placeholder="">
                </div>
               
            </div>
        </div>
        <br>

        <p align="center" style="margin-left: 0.2in; margin-bottom: 0in; border: 1px solid #000000; padding: 0.01in 0.06in">
            <font color="#000080">II. EMPLEO DEL SOLICITANTE</font>
        </p>

        <br> <div class="col-lg">
            <div class="row">
                <div class="form-group col-md-12">
                    <label>Nombre de la empresa (razón social)</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.nombre_empresa_cliente}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-3">
                    <label>Antigüedad en la Compañía</label>
                    <input disabled value="{{datos_cliente.antiguedad_empresa}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-4">
                    <label>Puesto</label>
                    <input disabled value="{{datos_cliente.puesto_empresa}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-3">
                    <label>Giro de la Empresa</label>
                    <input disabled value="{{datos_cliente.giro_empresa_cliente}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-2">
                    <label>Tipo Contrato</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.tipo_contrato}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-4">
                    <label>Nombre Jefe Inmediato</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.nombre_jefe_cliente}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-4">
                    <label>Departamento</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.departamento_cliente}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-3">
                    <label>Ingresos Mensuales Brutos</label>
                   <!--  <input [value]="datos_cliente.ingresos_mensuales_cliente | currency:'USD':'symbol' : '1.0-0'"  formControlName="ingresos_mensuales" type="text" class="form-control" placeholder="" autocomplete="off" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');"> -->
                    <input disabled style="width: 100%;" value="{{datos_cliente.ingresos_mensuales_cliente}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-5">
                    <label>Calle</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.calle_empresa}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-2">
                    <label>No. Interior</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.numero_interior_cliente}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-2">
                    <label>No. Exterior</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.numero_exterior_cliente}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-3">
                    <label>Colonia</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.colonia_cliente}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-1">
                    <label>C.P</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.codigo_postal_cliente}}" type="text" class="form-control" placeholder="" minlength="5" autocomplete="off" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');">
                </div>
                <div class="form-group col-md-2">
                    <label>Teléfono</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.telefono_cliente}}" type="text" class="form-control" placeholder="10 Dígitos" minlength="10" maxlength="10" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                </div>
                <div class="form-group col-md-1">
                    <label>Ext.</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.extension_cliente}}" type="text" class="form-control"  oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                  
                </div>
                <div class="form-group col-md-3">
                    <label>Estado</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.nombre_estado_empresa}}" type="text" class="form-control" >
                </div>
                <div class="form-group col-md-3">
                    <label>Ciudad</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.nombre_ciudad_empresa}}" type="text" class="form-control" >
                </div>
                <div class="form-group col-md-3">
                    <label>Número de Seguridad Social</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.nss}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
               
            </div>
        </div>
       
        <br>

        <p align="center" style="margin-left: 0.2in; margin-bottom: 0in; border: 1px solid #000000; padding: 0.01in 0.06in">
            <font color="#000080">III. DATOS DEL CONYUGE (NECESARIOS EN CUALQUIER CASO) participe o no en el crédito hipotecario</font>
        </p>
        <br>

        <div class="col-lg">
            <div class="row">
                <div class="form-group col-md-3">
                    <label>Nombre(s)</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.nombre_conyuge}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-3">
                    <label>Apellido Paterno</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.apellido_paterno_conyuge}}"  type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-3">
                    <label>Apellido Materno</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.apellido_materno_conyuge}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-3">
                    <label>RFC</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.rfc_conyuge}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-3">
                    <label>Lugar de Nacimiento</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.lugar_nacimiento_conyuge}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-3">
                    <label>Trabaja</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.trabaja}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                
                <div class="form-group col-md-12">
                    <label>Nombre de la Empresa</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.nombre_empresa_conyuge}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div  class="form-group col-md-2">
                    <label>Antiguedad</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.antiguedad_conyuge}}" type="text" class="form-control" placeholder="" autocomplete="off" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');">
                </div>
                <div  class="form-group col-md-4">
                    <label>Puesto</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.puesto_conyuge}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div  class="form-group col-md-3">
                    <label>Giro de la Empresa</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.giro_empresa_conyuge}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div  class="form-group col-md-4">
                    <label>Nombre Jefe Inmediato</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.nombre_jefe_empresa_conyuge}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div  class="form-group col-md-4">
                    <label>Departamento</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.departamento_empresa_conyuge}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div  class="form-group col-md-4">
                    <label>Ingresos Mensuales Brutos</label>
                    <input  disabled style="width: 100%;" value="{{datos_cliente.ingresos_mensuales_conyuge}}"  formControlName="ingresos_mensuales_conyuge" type="text" class="form-control" placeholder="" autocomplete="off" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');">
                </div>
                <div  class="form-group col-md-5">
                    <label>Calle</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.calle_empresa_conyuge}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div  class="form-group col-md-2">
                    <label>No. Interior</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.numero_interior_empresa_conyuge}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div  class="form-group col-md-2">
                    <label>No. Exterior</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.numero_exterior_empresa_conyuge}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div  class="form-group col-md-3">
                    <label>Colonia</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.colonia_empresa_conyuge}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div  class="form-group col-md-2">
                    <label>C.P</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.codigo_postal_empresa_conyuge}}" type="text" class="form-control" placeholder="" minlength="5" autocomplete="off" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');">
                </div>
                <div  class="form-group col-md-3">
                    <label>Teléfono</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.telefono_empresa_conyuge}}" type="text" class="form-control" placeholder="" minlength="10" maxlength="10" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">

                </div>
                <div  class="form-group col-md-1">
                    <label>Ext.</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.extension_empresa_conyuge}}" type="text" class="form-control"  oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                    
                </div>
               
                

                <div class="form-group col-md-3">
                    <label>Participa en el Crédito</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.participa_credito}}" type="text" class="form-control"  oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                </div>
                <div class="form-group col-md-4">
                    <label>Escolaridad</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.escolaridad_conyuge}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-2">
                    <label>Peso</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.peso_conyuge}}" type="text" class="form-control" placeholder="Kilogramos" autocomplete="off" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');">
                </div>
                <div class="form-group col-md-2">
                    <label>Estatura</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.estatura_conyuge}}" type="text" class="form-control" placeholder="Centímetros" autocomplete="off" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');">
                </div>
                <div class="form-group col-md-3">
                    <label>Número de Seguridad Social</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.nss_conyuge}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
               
            </div>
        </div>
        
        <br>
        <p align="center" style="margin-left: 0.2in; margin-bottom: 0in; border: 1px solid #000000; padding: 0.01in 0.06in">
            <font color="#000080">IV. REFERENCIAS PERSONALES SOLICITANTE. </font>
        </p>
        <br>
        <div class="col-lg">
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Nombre</label>
                    <input disabled style="width: 100%;" value="{{referencias_cliente[0].nombre}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-6">
                    <label>Dirección</label>
                    <input disabled style="width: 100%;" value="{{referencias_cliente[0].direccion}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-2">
                    <label>Teléfono</label>
                    <input disabled style="width: 100%;" value="{{referencias_cliente[0].telefono}}"  type="text" class="form-control" placeholder="" minlength="10" maxlength="10" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                </div>
                <div class="form-group col-md-4">
                    <label>Nombre</label>
                    <input disabled style="width: 100%;" value="{{referencias_cliente[1].nombre}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-6">
                    <label>Dirección</label>
                    <input disabled style="width: 100%;" value="{{referencias_cliente[1].direccion}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-2">
                    <label>Teléfono</label>
                    <input disabled style="width: 100%;" value="{{referencias_cliente[1].telefono}}"  type="text" class="form-control" placeholder="" minlength="10" maxlength="10" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                </div>
                <div class="form-group col-md-4">
                    <label>Nombre</label>
                    <input disabled style="width: 100%;" value="{{referencias_cliente[2].nombre}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-6">
                    <label>Dirección</label>
                    <input disabled style="width: 100%;" value="{{referencias_cliente[2].direccion}}" type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
                <div class="form-group col-md-2">
                    <label>Teléfono</label>
                    <input disabled style="width: 100%;" value="{{referencias_cliente[2].telefono}}"  type="text" class="form-control" placeholder="" minlength="10" maxlength="10" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                </div>
            </div>
            
            
        </div>

        
        <br>
        <strong>
            <p align="center" style="margin-left: 0.2in; margin-bottom: 0in; padding: 0.01in 0.06in">
                <font color="#244061" size="4" bold>Crédito solicitado</font>
            </p>
        </strong>
        <br>
        <div class="col-lg">
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Banco</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.banco}}"  type="text" class="form-control" placeholder="" minlength="10" maxlength="10" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                </div>
                <div class="form-group col-md-2">
                    <label>Apoyo Infonavit</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.infonavit}}"  type="text" class="form-control" placeholder="" minlength="10" maxlength="10" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                </div>
                <div class="form-group col-md-1">
                    <label>Cofinavit</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.cofinavit}}"  type="text" class="form-control" placeholder="" minlength="10" maxlength="10" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                </div>
                <div class="form-group col-md-2">
                    <label>Plazo (meses)</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.enganche}}"  type="text" class="form-control" placeholder="" minlength="10" maxlength="10" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                </div>
                <div class="form-group col-md-2">
                    <label>Tipo de Crédito</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.tipo_credito}}"  type="text" class="form-control" placeholder="" minlength="10" maxlength="10" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                </div>
                <div class="form-group col-md-2">
                    <label>Monto de Crédito</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.monto_credito}}"  type="text" class="form-control" placeholder="" minlength="10" maxlength="10" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                </div>
               
                <div class="form-group col-md-2">
                    <label>Enganche</label>
                    <input disabled style="width: 100%;" value="{{datos_cliente.plazo}}"  type="text" class="form-control" placeholder="" minlength="10" maxlength="10" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off">
                </div>
               
            </div>
        </div>

        
        <br>
        <p align="center" style="margin-left: 0.2in; margin-bottom: 0in; padding: 0.01in 0.06in">
            Es necesario se llenen todos y cada uno de los apartados que se solicitan, con la finalidad de tramitar el crédito hipotecario con mayor agilidad. Gracias!
        </p>
        <p align="center" style="margin-left: -0.2in; margin-bottom: 0in;">
            <span style="background: #ffff00">Esta solicitud de apartado tiene una vigencia de 48 horas a partir del día del apartado</span>
        </p>
        <br>
        <br>
        <br>
        <p style="margin-left: 0.2in; margin-bottom: 0in;">
            Fecha de hoy ____/____/_____ Firma y nombre del Solicitante _______________________________________ 
        </p>
        <br>
        <br>
        <br>
        <p style="margin-left: 0.2in; margin-bottom: 0in;">
            Nombre del ejecutivo que atendió: _________________________ 
        </p>
        
</div>
