<div style="margin-left: 0.2in;">
<p>Valor de la vivienda:</p>
<br>
<p>Mts de excedente:</p>
<p></p>
<P align="center" style="margin-bottom: 0in"><img src="src/assets/img/molinoDeAgua.jpg" name="logo" width=231 height=128></P>
<p align="center" >SOLICITUD DE APARTADO / COMPRA</p>
</div>
<div><table align="center">
      <tr>
        <td><div style="width:50px;height:15px;border:1px solid #000;"></div></td>
        <td>RONDA</td>
        <td><div style="width:50px;height:15px;border:1px solid #000;"></div></td>
        <td>OLVERA</td>
        <td><div style="width:50px;height:15px;border:1px solid #000;"></div></td>
        <td>SANTILLANA</td>
        <td><div style="width:50px;height:15px;border:1px solid #000;"></div></td>
      </tr>
      <tr>
        <td>ALICANTE</td>
        <td><div style="width:50px;height:15px;border:1px solid #000;"></div></td>
        <td>LERIDA</td>
        <td><div style="width:50px;height:15px;border:1px solid #000;"></div></td>
      </tr>
</table>
</div>
<br>
<div>
    <p align="center">MANZANA: ______    LOTE:_______    ETAPA:_______     FASE:_______    FECHA DE ENTREGA:___________</p>
</div>
<br>
<br>
<br>
<p align="center" style="margin-left: 0.2in; margin-bottom: 0in; border: 1px solid #000000; padding: 0.01in 0.06in">
    <font color="#000080">I.SOLICITANTE</font>
</p>
<br>
<br>
<table align="center" id="tableSolicitante" style="margin-left: 0.2in;">
    <tr>
        <td id="nombreSolicitante">Nombre _______________________________ </td>
        <td id="apellidoPaternoSolicitante">Apellido Paterno __________________________</td>
        <td id="maternoSolicitante">Materno ____________________</td>
    </tr>
    <tr>
        <td id="rfcSolicitante">R.F.C _________________________________ </td>
        <td id="homoclaveSolicitante">homoclave _______________________________</td>
    </tr>
    <tr>
        <td id="domicilioSolicitante">Domicilio _____________________________ </td>
        <td id="coloniaSolicitante">Colonia _________________________________</td>
    </tr>
    <tr>
        <td id="telCasaSolicitante">Teléfono Casa __________________________ </td>
        <td id="telCelularSolicitante">Teléfono Celular __________________________</td>
        <td id="telOficinaSolicitante">Tel Oficina __________________</td>
    </tr>
    <tr>
        <td id="casaPropiaSolicitante">Vive en casa propia______________________ </td>
        <td id="hipotecaSolicitante">Con hipoteca______________________________</td>
        <td id="familiaresSolicitante">De familiares ________________</td>
        <td id="rentadaSolicitante">Rentada ____</td>
        <td id="otrosSolicitante">Otros ____</td>
    </tr>
    <tr>
        <td id="tiempoResidenciaSolicitante">Tiempo de residencia ____________________</td>
        <td id="dependientesEconomicosSolicitante">Número de dependientes económicos __________</td>
    </tr>
    <tr>
        <td id="correoSolicitante">Correo Electrónico ______________________ </td>
        <td id="ciudadSolicitante">Ciudad __________________________________</td>
        <td id="estadoSolicitante">Estado ______________________</td>
        <td id="cpSolicitante">CP _______</td>
    </tr>
    <tr>
        <td id="casadoSolicitante">Estado Civil: Casado ____________________ </td>
        <td id="solteroSolicitante">Soltero __________________________________</td>
        <td id="divorciadoSolicitante">Divorciado ___________________</td>
        <td id="pesoSolicitante">Peso(kg) ____</td>
        <td id="estaturaSolicitante">Estatura(cms) ____</td>
    </tr>
    <tr>
        <td id="fechaNacimientoSolicitante">Fecha de Nacimiento: ____________________ </td>
        <td id="lugarNacimientoSolicitante">Lugar de Nacimiento _______________________</td>
    </tr>
    <tr>
        <td id="sociedadConyugalSolicitante"> Régimen matrimonial: Sociedad Conyugal ____ </td>
        <td id="separacionBienesSolicitante"> Separación de Bienes ______________________</td>
        <td id="fechaMatrimonioSolicitante"> Fecha de matrimonio____________</td>
    </tr>
    <tr>
        <td id="escolaridadSolicitante">Escolaridad: ____________________________ </td>
        <td id="edadSolicitante">Edad: ___________________________________</td>
    </tr>
</table>
<br>
<br>
<p align="center" style="margin-left: 0.2in; margin-bottom: 0in; border: 1px solid #000000; padding: 0.01in 0.06in">
    <font color="#000080">II. EMPLEO DEL SOLICITANTE</font>
</p>
<br>
<br>
<table align="center" id="tableEmpresaSolicitante" style="margin-left: 0.2in;">    
    <tr>
        <td id="nombreSolicitante">Nombre de la empresa (razón social)  ___________________________________________________________________________________________________________________ </td>
    </tr>
</table>
<table align="center" id="tableEmpleoSolicitante" style="margin-left: 0.2in;">
    <tr>
        <td id="antiguedadSolicitante">Antigüedad en la Compañía __________________________________</td>
        <td id="puestoSolicitante">Puesto ________________________________</td>
    </tr>
    <tr>
        <td id="giroEmpresaSolicitante">Giro de la empresa _________________________________________ </td>
        <td id="contratoIndefinidoSolicitante">Tipo de contrato. Indefinido _______________</td>
        <td id="contratoTemporalSolicitante">Temporal _________</td>
    </tr>
    <tr>
        <td id="jefeDptoSolicitante">Nombre del jefe del departamento _____________________________ </td>
        <td id="departamentoSolicitante">Departamento __________________________</td>
    </tr>
    <tr>
        <td id="ingresosMensualesSolicitante">Ingresos Mensuales(brutos) __________________________________ </td>
        <td id="domicilioEmpresaSolicitante">Domicilio Empresa ______________________</td>
    </tr>
    <tr>
        <td id="casaPropiaSolicitante">Colonia __________________________________________________ </td>
        <td id="hipotecaSolicitante">Teléfono ______________________________</td>
        <td id="familiaresSolicitante">Extensión _________</td>
        <td id="rentadaSolicitante">Cd y Edo ____</td>
    </tr>
    <tr>
        <td id="cpEmpresaSolicitante">C.P _____________________________________________________</td>
        <td id="nssEmpresaSolicitante">Número de seguridad social _______________</td>
    </tr>
</table>
<br>
<br>
<p align="center" style="margin-left: 0.2in; margin-bottom: 0in; border: 1px solid #000000; padding: 0.01in 0.06in">
    <font color="#000080">III. DATOS DEL CONYUGE (NECESARIOS EN CUALQUIER CASO) participe o no en el crédito hipotecario</font>
</p>
<br>
<br>
<table align="center" id="tableConyuge" style="margin-left: 0.2in;">
    <tr>
        <td id="nombreConyuge">Nombre _________________________________________ </td>
        <td id="apellidoPaternoConyuge">Apellido Paterno __________________________</td>
        <td id="maternoConyuge">Materno __________________</td>
    </tr>
    <tr>
        <td id="rfcConyuge">R.F.C ___________________________________________ </td>
        <td id="homoclaveConyuge">Homoclave _______________________________</td>
        <td id="trabajaConyuge">Trabaja Si(____) No(____)</td>
    </tr>
    <tr>
        <td id="lugarNacimientoConyuge">Lugar de Nacimiento _______________________________ </td>
    </tr>
    <tr>
        <td id="nombreEmpresaConyuge">Donde (Nombre de la Empresa) _______________________ </td>
    </tr>
    <tr>
        <td id="domicilioConyuge">Domicilio ________________________________________</td>
        <td id="telefonoConyuge">Teléfono ________________________________</td>
        <td id="extensionConyuge">Extensión __________</td>
    </tr>
    <tr>
        <td id="puestoConyuge">Puesto ___________________________________________</td>
        <td id="ingresoMensualConyuge">Ingreso Mensual (brutos) ___________________</td>
    </tr>
    <tr>
        <td id="antiguedadCompaniaConyuge">Antigüedad en la compañía __________________________ </td>
        <td id="giroCompaniaConyuge">Giro de la compañía _______________________</td>
    </tr>
    <tr>
        <td id="participaCreditoConyuge">Participa en el Crédito: SI_________ NO__________ </td>
        <td id="escolaridadConyuge">Escolaridad ______________________________</td>
    </tr>
    <tr>
        <td id="nssConyuge">NSS ____________________________________________ </td>
        <td id="pesoConyuge">Peso(kg) _________</td>
        <td id="estaturaConyuge">Estatura(cms) ________</td>
    </tr>
</table>
<br>
<br>
<p align="center" style="margin-left: 0.2in; margin-bottom: 0in; border: 1px solid #000000; padding: 0.01in 0.06in">
    <font color="#000080">IV. REFERENCIAS PERSONALES SOLICITANTE. </font>
</p>
<br>
<br>
<table align="center" id="tableReferenciasPersonales" style="margin-left: 0.2in;">
    <tr>
        <td>Nombre</td>
        <td>Domicilio</td>
        <td>Teléfono</td>
    </tr>
    <tr>
        <td id="nombreRferencia1"> ___________________________________________ </td>
        <td id="domicilioReferencia1">________________________________________</td>
        <td id="telefonoReferencia1">____________________________</td>
    </tr>
    <tr>
        <td id="nombreRferencia2"> ___________________________________________ </td>
        <td id="domicilioReferencia2">________________________________________</td>
        <td id="telefonoReferencia2">____________________________</td>
    </tr>
    <tr>
        <td id="nombreRferencia2"> ___________________________________________</td>
        <td id="domicilioReferencia2">________________________________________</td>
        <td id="telefonoReferencia2">____________________________</td>
    </tr>
</table>
<br>
<br>
<strong>
    <p align="center" style="margin-left: 0.2in; margin-bottom: 0in; padding: 0.01in 0.06in">
        <font color="#244061" size="4" bold>Crédito solicitado</font>
    </p>
</strong>
<br>
<table align="center" id="tableCreditoSolicitado" style="margin-left: 0.2in;">
    <tr>
        <td id="bancoCreditoSolicitado">Banco: ___________________________________________ </td>
        <td id="apoyoInfonavitCreditoSolicitado">Apoyo Infonavit: ________________________________________</td>
        <td id="cofinavitCreditoSolicitado">Cofinavit: ____________________________</td>
    </tr>
    <tr>
        <td id="plazoCreditoSolicitado">Plazo: ___________________________________________ </td>
        <td id="tipoCreditoSolicitado">Tipo de Crédito: ________________________________________</td>
        <td id="montoCreditoSolicitado">Monto de Crédito ______________________</td>
    </tr>
    <tr>
        <td id="engancheCreditoSolicitado">Enganche: _______________________________________</td>
    </tr>
</table>
<br>
<p align="center" style="margin-left: 0.2in; margin-bottom: 0in; padding: 0.01in 0.06in">
    Es necesario se llenen todos y cada uno de los apartados que se solicitan, con la finalidad de tramitar el crédito hipotecario con mayor agilidad. Gracias!
</p>
<p align="center" style="margin-left: -0.2in; margin-bottom: 0in;">
    <span style="background: #ffff00">Esta solicitud de apartado tiene una vigencia de 48 horas a partir del día del apartado</span>
</p>
<br>
<br>
<br>
<p style="margin-left: 0.2in; margin-bottom: 0in;">
    Fecha de hoy ____/____/_____ Firma y nombre del Solicitante _______________________________________ 
</p>
<br>
<br>
<br>
<p style="margin-left: 0.2in; margin-bottom: 0in;">
    Nombre del ejecutivo que atendió: _________________________ 
</p>
