<app-navbar></app-navbar>
<!-- <app-sidebar></app-sidebar> -->
<div class="content-wrapper" style="min-height: 1365.62px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Archivos</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="card">



                <div class="card-body">


                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre del documento</th>
                                <th>Archivo</th>
                                <th>Subido</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Apartado</td>
                                <td>
                                    <div class="form-group">
                                        <input name="Apartado" id="file" type="file" (change)="onFileChange($event)">

                                    </div>
                                </td>

                                <td style="text-align: center;"><a *ngIf="archivoApartado" href="localhost4200/crm"
                                        target="_blank"> <i class="fa fa-file fa-2x" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td>Solicitud de compra</td>
                                <td>
                                    <div class="form-group">
                                        <input name="SolicitudCompra" id="file" type="file"
                                            (change)="onFileChange($event)">

                                    </div>
                                </td>

                                <td style="text-align: center;"><a *ngIf="solicitudCompra" href={{solicitudCompra}}
                                        target="_blank"> <i class="fa fa-file fa-2x" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td>Oferta de compra</td>
                                <td>
                                    <div class="form-group">
                                        <input name="OfertaCompra" id="file" type="file"
                                            (change)="onFileChange($event)">

                                    </div>
                                </td>

                                <td style="text-align: center;"><a *ngIf="ofertaCompra" href={{ofertaCompra}}
                                        target="_blank"> <i class="fa fa-file fa-2x" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td>Aviso de privacidad</td>
                                <td>
                                    <div class="form-group">
                                        <input name="AvisoPrivacidad" id="file" type="file"
                                            (change)="onFileChange($event)">

                                    </div>
                                </td>

                                <td style="text-align: center;"><a *ngIf="avisoPrivacidad" href={{avisoPrivacidad}}
                                        target="_blank"> <i class="fa fa-file fa-2x" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td>Preliquidación (con cuenta bancaria que corresponde al desarrollo)</td>
                                <td>
                                    <div class="form-group">
                                        <input name="Preliquidacion" id="file" type="file"
                                            (change)="onFileChange($event)">

                                    </div>
                                </td>

                                <td style="text-align: center;"><a *ngIf="preliquidacion" href={{preliquidacion}}
                                        target="_blank"> <i class="fa fa-file fa-2x" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td>Plano geometrico del desarrollo</td>
                                <td>
                                    <div class="form-group">
                                        <input name="PlanoGeometrico" id="file" type="file"
                                            (change)="onFileChange($event)">

                                    </div>
                                </td>
                                <td style="text-align: center;"><a *ngIf="planoGeometrico" href={{planoGeometrico}}
                                        target="_blank"> <i class="fa fa-file fa-2x" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td>Plano de la cerrada señalando ubicación</td>
                                <td>
                                    <div class="form-group">
                                        <input name="PlanoCerrada" id="file" type="file"
                                            (change)="onFileChange($event)">

                                    </div>
                                </td>
                                <td style="text-align: center;"><a *ngIf="planoCerrada" href={{planoCerrada}}
                                        target="_blank"> <i class="fa fa-file fa-2x" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td>Reglamentos</td>
                                <td>
                                    <div class="form-group">
                                        <input name="Reglamentos" id="file" type="file" (change)="onFileChange($event)">

                                    </div>
                                </td>

                                <td style="text-align: center;"><a *ngIf="reglamentos" href={{reglamentos}}
                                        target="_blank"> <i class="fa fa-file fa-2x" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td>Precalificación o simulador</td>
                                <td>
                                    <div class="form-group">
                                        <input name="Precalificacion" id="file" type="file"
                                            (change)="onFileChange($event)">

                                    </div>
                                </td>

                                <td><span class="badge bg-warning"></span></td>
                            </tr>
                            <tr>
                                <td>Solicitud de INFONAVIT</td>
                                <td>
                                    <div class="form-group">
                                        <input name="SolicitudInfonavit" id="file" type="file"
                                            (change)="onFileChange($event)">

                                    </div>
                                </td>

                                <td style="text-align: center;"><a *ngIf="solicitudInfonavit"
                                        href={{solicitudInfonavit}} target="_blank"> <i class="fa fa-file fa-2x"
                                            aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td>FOVISSSTE</td>
                                <td>
                                    <div class="form-group">
                                        <input name="FOVISSSTE" id="file" type="file" (change)="onFileChange($event)">

                                    </div>
                                </td>

                                <td style="text-align: center;"><a *ngIf="FOVISSSTE" href={{FOVISSSTE}} target="_blank">
                                        <i class="fa fa-file fa-2x" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td>Especificaciones de acabados</td>
                                <td>
                                    <div class="form-group">
                                        <input name="Especificaciones" id="file" type="file"
                                            (change)="onFileChange($event)">

                                    </div>
                                </td>

                                <td style="text-align: center;"><a *ngIf="especificaciones" href={{especificaciones}}
                                        target="_blank">
                                        <i class="fa fa-file fa-2x" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td>Solicitudes de banco</td>
                                <td>
                                    <div class="form-group">
                                        <input name="SolicitudesBanco" id="file" type="file"
                                            (change)="onFileChange($event)">

                                    </div>
                                </td>

                                <td style="text-align: center;"><a *ngIf="solicitudesBanco" href={{solicitudesBanco}}
                                        target="_blank">
                                        <i class="fa fa-file fa-2x" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td>Guia del cliente</td>
                                <td>
                                    <div class="form-group">
                                        <input name="GuiaCliente" id="file" type="file" (change)="onFileChange($event)">

                                    </div>
                                </td>

                                <td style="text-align: center;"><a *ngIf="guiaCliente" href={{guiaCliente}}
                                        target="_blank">
                                        <i class="fa fa-file fa-2x" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td>Recibo de nomina</td>
                                <td>
                                    <div class="form-group">
                                        <input name="ReciboNomina" id="file" type="file"
                                            (change)="onFileChange($event)">

                                    </div>
                                </td>

                                <td style="text-align: center;"><a *ngIf="reciboNomina" href={{reciboNomina}}
                                        target="_blank">
                                        <i class="fa fa-file fa-2x" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td>Hoja de comentarios (con cálculo de endeudamiento)</td>
                                <td>
                                    <div class="form-group">
                                        <input name="HojaComentarios" id="file" type="file"
                                            (change)="onFileChange($event)">

                                    </div>
                                </td>

                                <td style="text-align: center;"><a *ngIf="hojaComentarios" href={{hojaComentarios}}
                                        target="_blank">
                                        <i class="fa fa-file fa-2x" aria-hidden="true"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <!--    <div class="card-footer clearfix">

                </div> -->
            </div>

        </div>
    </div>
</div>





<!-- <script>  $('[data-mask]').inputmask() </script> -->