<nav  class="mt-2">
   <!--  <ul *ngIf="MODULOSPORGRUPO" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


        <li class="nav-item has-treeview menu-close" *ngFor="let grupo of MODULOSPORGRUPO">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-users"></i>
                <p>
                    {{grupo.nombre_grupo}}
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item" *ngFor="let subitem of grupo.modulos">
                    <a style="font-size: small;"  routerLink="/{{subitem.componente}}" class="nav-link">{{subitem.nombre_modulo}}  </a>
                </li>
            </ul>
        </li>
    </ul> -->
</nav>

