<app-navbar></app-navbar>
<!-- <app-sidebar></app-sidebar> --> 
<div class="content-wrapper" style="min-height: 1365.62px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>CRM Usuarios</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <div class="content" >
        <div class="container-fluid">
            <div class="row">
                
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary" style="min-height: 10em">
                        
                        <div class="col-md-12 table-responsive" >
                            <div class="col-md-12" style="text-align: right; margin-top:1em; margin-bottom: 1em;">
                                <button type="submit" class="btn btn-primary" (click)="NuevoUsuario(0)">Nuevo Usuario</button>
                            </div>
                            <form [formGroup]="capturaFormBuscar">
                                <div class="form-group col-md-3" style="margin-bottom: 1em; margin-top: -1em;">
                                    <label>Buscar</label>
                                    <select (change)="BuscarSeleccionado($event.target.value)"  formControlName="busca" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                        <option disabled selected style="display:none;" ></option>
                                        <option  *ngFor="let item of _combo_buscar" [value]="item.nombre">{{item.nombre}}</option>
                                        
                                    </select>
                                </div>
                            </form>

                      <!--       <app-tables class="table-responsive;"  *ngIf="dataset" [tituloTabla]="tituloTabla" [descripcionTabla]="descripcionTabla" [dataset]="dataset" [metodoEditar]="Editar" [metodoEliminar]="Eliminar">
                            </app-tables>  -->
                            <div style="text-transform: uppercase;" class=" col-md-12 table-responsive">
                                <table style="text-transform: uppercase;" *ngIf="dataset" id="table2" [dtOptions]="dtOptions" datatable class="row-border hover">
                                    <thead>
                                        <tr style="text-transform: uppercase;">
                                            <th>ID</th>
                                            <th>Usuario</th>
                                            <th>Nombre</th>
                                            <th>Correo</th>
                                            <th>Teléfono</th>
                                            <th>Tipo</th>
                                            <th>Desarrollo</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="text-transform: uppercase;" *ngFor="let item of dataset">
                                            <td>{{item.ID}}</td>
                                            <td>{{item.Usuario}}</td>
                                            <td>{{item.Nombre}}</td>
                                            <td>{{item.Correo}}</td>
                                            <td>{{item.Telefono}}</td>
                                            <td>{{item.Tipo}}</td>
                                            <td>{{item.Desarrollo}}</td>
                                            <td ><i  aria-placeholder="Editar" (click)="Editar(item)" style="color: blue;" class="fas fa-edit" ></i>  <span>&nbsp;&nbsp;&nbsp;</span> <i (click)="Eliminar(item)"  style="color:orange;" class="fas fa-power-off"></i><span>&nbsp;&nbsp;&nbsp;</span> <i (click)="ReseteoContrasena(item)"  style="color:yellow;" class="fas fa-key"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>  
                            
                        </div>
                       
                    </div>
                </div>

            </div>

            
        </div>
    </div>
</div>

<!-- <script>  $('[data-mask]').inputmask() </script> -->
