<div class="card-header text-center">
    <!--  <a href="../../index2.html" class="h1"><b>Admin</b>LTE</a> -->
<!--          <img src="assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
-->
    <img style="height: 30%; width: 30%;" class="mr-3" src="assets/img/logovivanzawhite.png"/>
   </div>

   <p>Para iniciar sesión deberá ingresar al sitio de Vivanza. 
        <BR>  Usuario: <b style="color:blue">correo </b>
        <BR>   Contraseña:<b style="color:blue">  ::CONTRASENA:: </b>
    </p>
    <p>O bien dar click <a href="https://azursis.com">aquí</a> para ir directo al sitio.</p>
    <hr style="color:gray"><p style="color:gray; font-size:0.8em">Si usted no solicito o recibe por error esta información, favor de notificarlo al remitente de inmediato y desecharlo de su sistema.</p>
