<app-navbar></app-navbar>
<!-- <app-sidebar></app-sidebar> -->
<style>
    f {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
line-height: 0px ;  /*esta es la propiedad para el interlineado*/
color: rgb(0, 0, 0);
padding: 10px;
}
</style>
<div class="content-wrapper">

    <img style="height: 92%; width: 92%;" class="mr-3" src="assets/img/logovivanzawhite.png" />
<!--     <div class="col-md" style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;line-height: 0px ;padding: 10px;">

        <p>OFERTA UNILATERAL DE COMPRA QUE HACE; </p><br>
        <p>A DESARROLLOS INMOBILIARIOS PUENTE DE CANTERA S.A DE C.V</p><br>
        <p>Periférico de la Juventud # 6501 Col Haciendas del Valle</p><br>
        <p>Chihuahua, Chihuahua a  </p><br>
        <p><b>ME PERMITO PONER A SU CONSIDERACION LA OFERTA UNILATERAL DE COMPRAVENTA QUE HAGO EN ESTE ACTO SOBRE LA VIVIENDA QUE PROPONGO SE DETERMINE A TRAVES DE LAS SIGUIENTES REGLAS:</b></p><br>
        <p></p><br>

    </div> -->
</div>