<app-navbar></app-navbar>
<!-- <app-sidebar></app-sidebar> -->

<div class="content-wrapper">

    <img style="height: 92%; width: 92%;" class="mr-3" src="assets/img/logovivanzawhite.png" />
    <!-- <div class="col-md" style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;line-height: 0px ;padding: 10px;">

        <p>OFERTA UNILATERAL DE COMPRA QUE HACE; </p><br>
        <p>A DESARROLLOS INMOBILIARIOS PUENTE DE CANTERA S.A DE C.V</p><br>
        <p>Periférico de la Juventud # 6501 Col Haciendas del Valle</p><br>
        <p>Chihuahua, Chihuahua a  </p><br>
        <p style="line-height: 120%"><b>ME PERMITO PONER A SU CONSIDERACION LA OFERTA UNILATERAL DE COMPRAVENTA QUE HAGO EN ESTE ACTO SOBRE LA VIVIENDA QUE PROPONGO SE DETERMINE A TRAVES DE LAS SIGUIENTES REGLAS:</b></p><br>
        <p style="line-height: 180%">I.- Ofrezco comprar la vivienda  tipoRONDA ubicada en Manzana No.01 Lote No. 16EtapaIX, 
            Fase I con una superficie de construcción de 98 ms2, en un lote de 140.09m2 
            del  Fraccionamiento MOLINO DE AGUA ETAPA IX, ubicado en la Ciudad de Chihuahua, 
            por lo que en caso de ser aceptada mi oferta me obligo en los términos y condiciones siguientes:
        </p><br>
        <p style="line-height: 180%">
            <b>PRIMERA:</b> Manifiesto que conozco el anteproyecto de la casa que ofrezco adquirir, así como 
            del Fraccionamiento MOLINO DE AGUA, y entiendo que como anteproyecto que son, pudieran sufrir
             modificaciones.
        </p><br>
        <p style="line-height: 120%"></p><br>
    </div> -->
</div>